<div layout="column" ng-if="$ctrl.viewReady">

  <div class="found-title" layout-align="center center">
    <h1>Match found</h1>
  </div>


  <div layout="column" layout-align="center center">

    <div layout="row" layout-align="center center">
      <div class="img-container">
        <img ng-src="{{$ctrl.optionalMatch.matchedDetails.imgUrl}}">
        <img class="currentUserImg" ng-src="{{$ctrl.userImg}}">
      </div>
    </div>

    <div class="match-strength">
      <h1>{{$ctrl.optionalMatch.matchStrength}}%</h1>
    </div>
  </div>

  <div>
    <div class="match-info-container" layout="column" layout-align="space-around start">
      <div class="match-name">
        <span>Name: {{$ctrl.optionalMatch.matchedDetails.firstName}}</span>
      </div>
      <div class="match-moment-info" layout="row" layout-align="space-around start">
        <div class="match-date">
          <span>Date: {{$ctrl.date}}</span>
        </div>
        <div class="match-time">
          <span>Time: {{$ctrl.time}}</span>
        </div>
      </div>
      <div class="match-description">
        <span>About {{$ctrl.optionalMatch.matchedDetails.firstName}}: {{$ctrl.optionalMatch.matchedDetails.description}}</span>
      </div>
    </div>
  </div>

  <md-divider></md-divider>

  <div>
    <h2 class="chip-title">Matched by:</h2>
    <div class="chip-container" ng-repeat="chipArray in $ctrl.chipsArray track by $index">
        <md-chips ng-model="chipArray"
                  readonly="true">
          <md-chip-template>
            <strong>{{$chip}}</strong>
          </md-chip-template>
        </md-chips>
    </div>
  </div>

  <div layout="row" layout-align="center center">
    <md-button class="declineBtn" ng-click="$ctrl.declineMatch()">DECLINE</md-button>
    <md-button class="acceptBtn" ng-click="$ctrl.acceptOptionalMatchBtn()">ACCEPT</md-button>
  </div>

</div>
