<div>
  <h1>Register:</h1>

  <md-content class="md-no-momentum">

    <md-input-container class="md-block">
      <input ng-model="$ctrl.userReg.Email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>


    <md-input-container class="md-block">
      <input ng-model="$ctrl.userReg.Password" type="password" placeholder="Password (required)" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <input ng-model="$ctrl.userReg.ConfirmPassword" type="password" placeholder="Confirm password (required)" ng-required="true">
    </md-input-container>


  </md-content>
  <md-button ng-click="$ctrl.sendRegistration()">Register</md-button>
  <md-button ng-click="$ctrl.changeStateBackToLogin('home')">Back</md-button>
</div>
