@import "./../../common/common";

notifications {

  .notification-container{
    background-color: white;
  }
  .match-text-container{
    margin-bottom: 15px;
  }

  .img-container{
    img{
      width: 55px;
    }
    .currentUserImg{
      margin-left: -20px;
    }
  }

  .matchStrength{
    font-size: 20px;
    font-weight: bolder;
  }

  .match-info-container{
    font-size: 12px;
    font-weight: 400;
  }
  .match-info-container > div {
    margin-top: 5px;
  }

  .notification-number{
    font-size: 36px;
    color: $blueBabyNumber;
    margin: 8px;
  }

  .notification{
    position: relative;
    left: 202px;
    bottom: -135px;
    z-index: 1;
    width: 20px;
    height: 19px;
    font-weight: 500;
    color: white;
    font-size: medium;
    background-color: rgba(226, 33, 33, 0.53);
    text-align: -webkit-center;
    border: solid 0.01px;
    box-shadow: 1px 4px 18px rgba(16, 15, 15, 0.53);
    border-radius: 10px;
  }

  .present-text{
    @include textNumShadowElement(36px);
  }

  @media (max-width:667px) and (min-width:375px) {
    .notification{
      left: 234px;
      bottom: -239px;
    }
  }

  @media (max-width:736px) and (min-width:414px) {
    .notification{
      left: 258px;
      bottom: -306px;
    }
  }

  @media (width:412px) and (height:732px) {
    .notification{
      left: 256px;
      bottom: 39px;
    }
  }

}
