<div ng-if="$ctrl.viewReady && ($ctrl.firstUserLocation && $ctrl.secUserLocation)">
  <div class="google-map-container" map-lazy-load="{{$ctrl.googleMapsUrl}}">
    <ng-map center="{{$ctrl.matchData.locations[0].lat}},{{$ctrl.matchData.locations[0].lng}}" zoom="14">

      <directions
          draggable="true"
          travel-mode="WALKING"
          origin="current-location"
          destination={{$ctrl.secUserLocation}}">
      </directions>

      <custom-marker id="start" position="current-location">
        <div>
          <img class="currentUserImg" ng-src="{{$ctrl.myImageUrl}}">
        </div>
      </custom-marker>

      <custom-marker id="end" position="{{$ctrl.secUserLocation}}">
        <div>
          <img class="currentUserImg" ng-src="{{$ctrl.secUserImage}}">
        </div>
      </custom-marker>

    </ng-map>
  </div>
</div>
