<div ng-if="$ctrl.viewReady && !$ctrl.allReadyMatchExist && !$ctrl.noFactorsError" class="match-settings">

  <div>
    <div class="bubbles" ng-repeat="bubble in $ctrl.bubblePics track by $index">
      <div class="bubble-container" ng-style="::bubble.style" >
        <div class="bubble">
          <img ng-src="{{::bubble.first}}">
          <img class="sec-img" ng-src="{{::bubble.sec}}">
        </div>
      </div>
    </div>
  </div>

  <div layout="column" ng-cloak>
    <section layout="row" flex >
      <md-sidenav class="md-sidenav-left touch-container" md-component-id="left" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Match Settings</h1>
        </md-toolbar>
        <md-content layout-margin>
          <p>
            This sidenav is showing match factors, where users can click on it to change match settings.
          </p>

          <div class="current-factors-container" ng-repeat="category in $ctrl.user.factors">
            <h3>{{category.class}}</h3>
            <div ng-repeat="subCategory in category.subClasses">
              <checkbox-element section-key="{{subCategory.name}}" section-model="{{category.class}}"
                                on-element-change="$ctrl.onCheckboxChange(obj,model,key)"
                                label="{{subCategory.name}}"
                                ng-model="subCategory.isToggle">
              </checkbox-element>
            </div>
          </div>

          <h3>Match Distance</h3>
          <md-slider flex md-discrete
                     ng-model="$ctrl.maxDistance"
                     step="2.5" min="1"
                     max="100"
                     aria-label="distance">
          </md-slider>

          <h3>Match Percent</h3>
          <md-slider flex md-discrete
                     ng-model="$ctrl.matchPercent"
                     step="2.5" min="1"
                     max="100"
                     aria-label="distance">
          </md-slider>

          <md-button ng-click="$ctrl.toggleLeft();$ctrl.setCurrentMatchFactors()" class="md-accent button-color">
            Done
          </md-button>
        </md-content>
      </md-sidenav>
      <md-content flex layout-padding class="match-settings-container">
        <div layout="column" layout-align="center center">
          <div class="toggle-match-settings">
            <md-button ng-click="$ctrl.toggleLeft()" class="md-raised">
              Change match settings
            </md-button>
          </div>
        </div>
      </md-content>
    </section>
  </div>
  <div layout="row"  layout-align="center center">
    <md-button class="md-fab find-match-title" ng-click="$ctrl.validMatchRequest(); clickActive = true " ng-class="{'find-match-title-click': clickActive}">FIND MATCH</md-button>
  </div>
  <div ng-if="$ctrl.notificationAlert && !$ctrl.noFactorsError" class="notification">1</div>
</div>

<div ng-if="$ctrl.allReadyMatchExist" layout="column" layout-align="center center">
  <h1>You already have a match request </h1>
  <h1>checkout notifications</h1>
  <div ng-if="$ctrl.notificationAlert" class="notification">1</div>
</div>

<div ng-if="$ctrl.noFactorsError && !$ctrl.notificationAlert" layout="column" layout-align="center center">
  <h1>Please select at list one subject</h1>
  <h1>for match</h1>
</div>




