<div ng-if="$ctrl.viewReady">

  <div class="current-factors-container" ng-repeat="category in $ctrl.user.factors">
    <div ng-repeat="subCategory in category.subClasses">

      <checkbox-element section-key="{{subCategory.name}}" section-model="{{category.class}}"
                        on-element-change="$ctrl.onCheckboxChange(obj,model,key)"
                        label="{{subCategory.name}}"
                        ng-model="subCategory.isToggle">
      </checkbox-element>
    </div>
  </div>

  <div layout="row"  layout-align="center center">
    <md-button><span class="find-match-title">FIND MATCH</span></md-button>
  </div>

</div>