@import "../../common/common";

match-request {
  .img{
    width: 80px;
    height: 82px;
  }
  .current-factors-container{
    margin-top: 40px;
  }
  .bubble{
    margin-left: -15px;
  }
  .find-match-title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .icon-container {
    max-width: 100%;
    position: relative;
  }
  .icon-body{
    float: left;
  }
  .match-settings{
    margin-top: 30px;
  }
  .md-theme-indigo{
    background-color: $lightTextColor;
  }
  .md-toolbar-tools{
    background-color: $darkTextColor
  }
  .button-color{
    color: $darkTextColor !important;
    border-bottom: solid 0.5px;
  }
}
