<div ng-if="$ctrl.viewReady">
    <div layout="column" layout-align="space-around center">
        <div class="profile-img">
            <img ng-src="{{$ctrl.user.imgUrl}}"/>
        </div>

        <div layout-align="space-around center" class="categories-container">
            <div layout="column" class="category-container" ng-repeat="category in $ctrl.factorsList track by $index">
                <span class="category-title">{{category.class}}</span>
                <div ng-repeat="subCategory in category.subClasses track by $index ">
                  <checkbox-element ng-model="subCategory.isToggle" section-key="{{subCategory.name}}"
                                    section-model="{{category.class}}"
                                    on-element-change="$ctrl.onCheckBoxChange(obj,model,key)"
                                    label="{{subCategory.name}}">
                  </checkbox-element>
                </div>
            </div>

        </div>
      <div layout="row" layout-align="center center">
        <md-button class="buttonElement" ng-click="$ctrl.sendUserFactors()">Save</md-button>
      </div>
    </div>
    <div ng-if="$ctrl.notificationAlert" class="notification">1</div>
</div>

