@import "./../../common/common";

user-profile {
  .profile-img{
    margin-top: 20px;
  }
  .profile-img img{
    width: 82px;
  }

  .categories-container{
    margin-top: 40px;
  }

  .category-container{
    position: relative;
    float: left;
    margin-left: 17%;
    margin-right: 5%;
    margin-bottom: 20px;
  }

  .sport-container{
    margin-right: 40px;
  }
  .hobbies-container{
    margin-left: 40px;
  }
  .category-title{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;

  }

  .buttonElement {
    @include buttonElement();
  }

  .save-hobby-container {
    button {
      box-shadow: 0px 2px 4px 0px $buttonsColor;
    }
  }

  .garbage-container{
    svg {
      width: 13px;
    }
  }

  .plus-hobby-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .img-file-container{
    box-shadow: 0px 1px 1px 1px $imgFileCon;
    border: 0.5px solid;
    width: 150px;
    margin-top: 10px;
  }

  .notification{
    position: fixed;
    left: 198px;
    bottom: 36px;
    z-index: 1;
    width: 20px;
    height: 19px;
    font-weight: 500;
    color: white;
    font-size: medium;
    background-color: rgba(226, 33, 33, 0.53);
    text-align: -webkit-center;
    border: solid 0.01px;
    box-shadow: 1px 4px 18px rgba(16, 15, 15, 0.53);
    border-radius: 10px;
  }

  @media (max-width:667px) and (min-width:375px) {
    .notification{
      left: 234px;
      bottom: 39px;
    }
  }

  @media (max-width:736px) and (min-width:414px) {
    .notification{
      left: 258px;
      bottom: 35px;
    }
  }

  @media (width:412px) and (height:732px) {
    .notification{
      left: 256px;
      bottom: 39px;
    }
  }

}
