user-profile {
  .profile-img{
    margin-top: 20px;
  }
  .profile-img img{
    width: 82px;
  }

  .categories-container{
    margin-top: 40px;
  }

  .category-container{
    position: relative;
    float: left;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 20px;
  }

  .sport-container{
    margin-right: 40px;
  }
  .hobbies-container{
    margin-left: 40px;
  }
  .category-title{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;

  }
}
