<div>
    <div layout="column" layout-align="space-around center">

        <div class="profile-img">
            <img ng-src="./../app/common/assets/avatars/profile1.png">
        </div>

        <div layout="row" layout-align="space-around center" class="categories-container" ng-if="$ctrl.readyTest">
            <div layout="column" class="sport-container" ng-repeat="category in $ctrl.factorsMock track by $index">
                <span class="category-title">{{category.class}}</span>
                <div ng-repeat="subCategory in category.subclasses track by $index ">
                  <checkbox-element ng-model="subCategory.isToggle" section-key="{{subCategory.name}}"
                                    section-model="{{category.class}}"
                                    on-element-change="$ctrl.onCheckBoxChange(obj,model,key)"
                                    label="{{subCategory.name}}">
                  </checkbox-element>
                </div>
            </div>

        </div>
    </div>
</div>
