<div  ng-if="!$ctrl.userRegister">
  <h1>Welcome please login</h1>

  </md-content>

    <md-input-container class="md-block">
      <input ng-model="$ctrl.userLogin.Email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <input ng-model="$ctrl.userLogin.Password" type="password" placeholder="Password (required)" ng-required="true">
    </md-input-container>

  </md-content>



  <md-button ng-click="$ctrl.sendLogin()" >Login</md-button>
  <md-button ng-click="$ctrl.userRegister = !$ctrl.userRegister" >Register</md-button>

</div>
<user-register ng-if="$ctrl.userRegister" user="$ctrl.user"></user-register>