@import "../../common/common";

low-tool-bar {

  md-icon svg {
    fill: $toolBarIconColor;
  }

  md-toolbar {
    background-color: $toolBarBackGround !important;
  }

  .md-button {
    min-width: 0px;
  }

  .icon-container{
    width: 30px;
  }
  .history-icon{
    margin-right: 20px;
  }
}
