@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Kalam');

//Numbers font
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
//Actor font
@import url('https://fonts.googleapis.com/css?family=Actor');
//PRESENT FONT
@import url('https://fonts.googleapis.com/css?family=Concert+One');

$primaryColor:     #0277bd;
$accentColor:      #1de9b6;
$bgColor:          #efefef;
$darkBgColor:      #263238;
$lightBgColor:     #37474f;
$lightTextColor:   #f5f5f5;
$darkTextColor:    #212121;
$toolBarIconColor: #848383;
$toolBarBackGround:#f7f6f6;
$fillFooterIcon:   #a8c6fa;
$blueBabyNumber:   #75a9f9;
$buttonsColor:     #babaf7;
$buttonColorClick: #9b91f5;


body {
   height: 100%;
   // browsers default to 16px for font-size,
   // so setting top-level font-size to 62.5%
   // scales 1rem to equal 10px.
   font: 62.5% 'Actor', sans-serif;
   color: #7a7a7a;
   //font-family: 'Actor', sans-serif;
}

@mixin buttonElement(){
  border: solid 0.5px;
  border-color: $buttonsColor;
}

@mixin textNumShadowElement($fontSize) {
  font-size: $fontSize;
  color:$darkTextColor;
  text-shadow: 2px 4px 3px rgba(80, 69, 69, 0.23);
  font-family: 'Alfa Slab One', cursive;
}

@mixin acceptOrDeclineBtn($backgroundColor,$borderColor){
  border: solid 0.5px $borderColor;
  border-radius: 46px;
  background-color: $backgroundColor;
}