
choose-hobbies {
  .text{
    text-align: center;
  }
  .title{
    font-size: 50px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 10px;
  }
  .sub-title{
    font-size: 25px;
    font-weight: lighter;
  }
  .img-icon{
    width: 80px;
    height: 82px;
  }
  .category-title {
    text-align: center;
  }
  .icon-container {
    max-width: 100%;
    position: relative;
  }
  .icon-body{
    float: left;
  }

  .checkmark_stem {
    position: relative;
    width: 6px;
    height: 20px;
    background-color: #ff4d9e;
    left: 40px;
    top: -57px;
    transform: rotate(45deg);
  }

  .checkmark_kick {
    position: relative;
    width: 9px;
    height: 6px;
    background-color: #ff4d9e;
    left: 31px;
    top: -67px;
    transform: rotate(45deg);
  }

  @media (max-width:667px) and (min-width:375px) {
    .icon-body{
      margin-left: 3%;
    }
  }

  @media (max-width:736px) and (min-width:414px) {
    .icon-body{
      margin-left: 5%;
    }
  }

  @media (width:412px) and (height:732px) {
    .icon-body{
      margin-left: 4%;
    }
  }

  @media (width:360px) and (height:640px) {
    .icon-body{
      margin-left: 2%;
    }
  }
}
