<div>
    <div>
        <h1 class="text title">HI</h1>
        <h2 class="text sub-title">Tell us what you are<br>interested in</h2>
    </div>

    <div layout="column">

        <div class="category-container">
            <div class="category-title">
                <h2>Gaming</h2>
            </div>
            <div layout="row">
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
            </div>
        </div>


        <!--////////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <!--i can see i have a pattern here-->

        <div class="category-container">
            <div class="category-title">
                <h2>Gaming</h2>
            </div>
            <div layout="row">
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
            </div>
        </div>


        <!--////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <div class="category-container">
            <div class="category-title">
                <h2>Gaming</h2>
            </div>
            <div layout="row">
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
            </div>
        </div>

        <!--////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <div class="category-container">
            <div class="category-title">
                <h2>Gaming</h2>
            </div>
            <div layout="row">
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
            </div>
        </div>

        <!--////////////////////////////////////////////////////////////////////////////////////////////////////////-->


        <div class="category-container">
            <div class="category-title">
                <h2>Gaming</h2>
            </div>
            <div layout="row">
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
                <div>
                    <img class="img-icon" ng-src="./../../app/common/assets/games.png">
                </div>
            </div>
        </div>

        <!--////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <md-button ng-click="$ctrl.sendCategoriesToServer()">DONE</md-button>

    </div>
</div>
