//import css from 'style-loader!css-loader!./file.css';

choose-hobbies {
  .text{
    text-align: center;
  }
  .title{
    font-size: 50px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 10px;
  }
  .sub-title{
    font-size: 25px;
    font-weight: lighter;
  }
  .img-icon{
    width: 80px;
    height: 82px;
  }
  .category-title {
    text-align: center;
  }
  .icon-container {
    max-width: 100%;
    position: relative;
  }
  .icon-body{
    float: left;
  }
  .vIconOn {
    //background-image: url('./../../common/assets/v.png');
    background-color: #0277bd;
  }
}
