<div ng-if="$ctrl.viewReady">
    <div>
        <h1 class="text title">HI</h1>
        <h2 class="text sub-title">Tell us what you are<br>interested in</h2>
    </div>

  <div layout="column">
    <div ng-repeat="category in $ctrl.factorsCopy track by $index">
      <div class="category-container">
        <div class="category-title">
          <h2>{{category.class}}</h2>
        </div>
        <div class="icon-container" layout-align="center center" ng-repeat="subCategory in category.subClasses track by $index">
          <div class="icon-body" id="{{subCategory.name}}"
               ng-click="$ctrl.onChooseSubCategory(subCategory.name)">
            <img class="img-icon" ng-src="{{subCategory.imgUrl}}"/>
          </div>
        </div>
      </div>
    </div>
    <md-button ng-click="$ctrl.sendCategoriesToServer()">Let's FIND A MATCH</md-button>
  </div>
</div>